.subnavbar{
    background-color: #4682C8;
    min-height: 80px;
    padding: 16px calc(10% + 24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
}

.linkBox{
    display: flex;
    gap: 16px;
    color: #E0E0E0;
    cursor: pointer;
}

.link:hover{
    color: #fff;
}

.activeLink{
    color: #fff;
}

@media screen and (max-width: 936px) {
    .subnavbar{
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
}