.navbar {
    /* position: fixed; */
    top: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    overflow: hidden;
    z-index: 1000;
  }
  .navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
  }
 
  
  .navbar li {
    display: inline;
  }
  
  .navbar li a {
    display: block;
    color: 533E2D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover 
  {
    color: #4682C8;

  }
  
  .active a {
    color: #4682C8;
  }
  