.nodesWrapper{
    width: calc(80%);
    margin: 0 auto
}

.nodesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.nodeRadios{
    display: flex;
    gap: 16px;
 
}
 
 
 
.nodeContent{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin-top: 48px;
}

@media screen and (max-width: 1400px) {
    .nodesWrapper{
        width: calc(90%);
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 936px) {
    .nodesHeader{
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
}

/* @media screen and (max-width: 768px) {
    .nodesContent{
        zoom: 0.5
    }
} */