.sortbar{
 margin: 0 auto;
 padding: 16px calc(10% + 24px);
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.sortbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.singleSort{
    color: #cdcdcd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleSort:hover{
    color: #4682C8;
}

.activeSort{
    color: #4682C8;
}

.icon{
    width: 12px;
    height: 12px;
    margin-right: 4px;
    transform: rotate(90deg);
}

.listIcon{
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.indexCheck{
    width: 16px;
    height: 16px;
   margin-top: -4px;
}

@media screen and (max-width: 936px) {
    .sortbox{
        gap: 12px;
    }
}

