.easySearchContainer {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}
.rightBox{
    display: flex;
    flex-basis: 600px;
}

.easySearchSelect{
    width: 120px;
    box-shadow: 5px 5px 10px #00000040;
    border-radius: 5px;
}

.easySearch{
    width: 500px;
    box-shadow: 5px 5px 10px #00000040;
    border-radius: 5px;
}

.easySearch :global(.ant-btn){
    width: 48px;
    background-color: #3e75bc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.easySearch :global(.ant-btn):hover {
    background-color: #3e75bc !important;
}

.easySearch :global(.ant-btn):hover .searchIcon{
    transition: all .3s;
    font-size: 18px;
}

.messageStyle :global(.anticon) {
    transform: translateY(-48px);
}