.page_wrapper{
    width: calc(80% - 48px);
    margin: 0 auto
}

.list_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

@media screen and (max-width: 936px) {
    .list_wrapper{
        zoom: 0.8
    }
}

@media screen and (max-width: 768px) {
    .list_wrapper{
        zoom: 0.5
    }
}