.navbar {
    /* position: fixed; */
    height: 60px;
    top: 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: left;
}

.navbar ul {
    display: flex;
    gap: 32px;
    margin-left: auto;
    flex-wrap: wrap;
}  

@media screen and (max-width: 936px) {
    .navbar ul {
        gap: 16px;
    }
}
  
.activeLink{
    color: #4682C8;
    border-bottom: 2px solid #4682C8;
}

.link {
    display: block;
    color: 533E2D;
    text-align: center;
    text-decoration: none;
}

.link:hover{
    color: #4682C8;
}