.cardWrapper{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    border-bottom: 5px solid #3e75bc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHeader{
    height: 50px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e75bc;
    color: #fff;
}

.cardContent{
    height: calc(100% - 50px);
    color: #3e75bc;
    background-color: #fff;
    padding: 10px;
    white-space: wrap;
    word-break: break-all;
    display: flex;
    align-items: center;
}

.orange{
    border-color: #f8ac4e;
}

.orange .cardHeader{
    background-color: #f8ac4e;
}

.orange .cardContent{
    color: #f8ac4e;
}
